*{
  margin : 0;
  padding :0;
  box-sizing: border-box;
}
.app{
  background-color: #fafafa;
  height:100vh;
}
.app_header{
  padding:20px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}